# Node
node_modules/
.next/
.env*
tsconfig.tsbuildinfo
build_log*.txt

# Python
venv/
.env
__pycache__/
db_state.json

# Logs & Temp
*.log
*.txt
!requirements.txt

# OS
.DS_Store
Thumbs.db
.idea/
.vscode/
